 .hide{
            display: none;
        }
        .menu{
            float: left;
            width: 20%;
            height: 500px;
            background-color:grey;
        }
        .centent{
            float: left;
            width: 80%;
            height: 500px;
        }
        .menu a{
            padding: 5px 10px;
            display: block;
        }
        .now{
            color: red;
        }