<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="menu">
    {% for k,item in menu_dict.items %}
        <div class="menu-title">{{ item.menu_title }}</div>
        {% if item.active %}
            <div class="item-permission">
            {% else %}
            <div class="item-permission hide">
        {% endif %}
        {% for foo in item.children %}
            {% if foo.active %}
                 <a href="{{ foo.url }}" class="now">{{ foo.title }}</a>
                {% else %}
                 <a href="{{ foo.url }}">{{ foo.title }}</a>
            {% endif %}
        {% endfor %}
</div>
    {% endfor %}

</div>

</body>
</html>